html {
    font-family: "Tahoma", sans-serif;
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
}

.logo {
    width: 6em;
    height: 4em;
    padding-left: 20px;
}

.navlinks {
    color: white;
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    padding-right: 20px;

}

.navbar {
    display: flex;
    background-color: #1F2937;
    padding: 0.8rem;
    justify-content: space-between;
    font-size: 1.2rem;
}

#mainbg {
    width: 100%;
    height: 100vh;
    margin: auto;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    top: 0px;
}

.imgbox {
    display: grid;
}

.rightimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.maininfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 75%;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2em rgb(69, 69, 69);
    padding: 40px 40px 70px 40px;
    border-radius: 20px;
    gap: 5em;
}

.leftmaininfo {
    color: white;
}

.leftinfoheader {
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: bold;

}

.secondlayerheader {
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.leftbutton {
    color: white;
    background-color: rgba(95, 112, 222, 10%);
    border: 2px solid #5F70DE;
    border-radius: 20px;
    padding: 20px 40px 20px 40px;
    margin-top: 5%;
}

.main {
    margin: 9em 0 18em 0;
    justify-content: center;
    display: flex;
}

.mainleft {
    text-align: center;
    width: 100%;
    max-width: 483px;
}

.ryo,
.kita,
.bocchi,
.Nijika {
    width: 12em;
    height: 14em;
    object-fit: cover;
    border-radius: 40px;
    border: 0.2em solid white;
    display: flex;
    box-shadow: 0 0 2em black;
    margin-bottom: 2em;
}

.bandmembers {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 12em;
}

.secondlayer {
    background: linear-gradient(#423B68, #3B316B, #423B68);
    padding: 0.2em 0.2em 1em 0.2em;
}

.bandmembers {
    color: white;
    text-align: center;
}

.quotelayer {
    background-image: url(bocchi\ bg.jpg);
    color: white;
    justify-content: center;
    padding: 10em;
    object-fit: cover;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.quote {
    color: white;
    font-size: 36px;
    font-weight: bold;
}

.quotename {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.quotetext {
    text-shadow: 0 0 1em black;
}

.nametext {
    text-shadow: 0 0 1em black;
}

.adlayer {
    background: linear-gradient(#423B68, #3B316B, #423B68);
    color: white;
    justify-content: center;
    display: flex;
    padding: 2em 0 2em 0;
}

.ad {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    width: 50%;
    padding: 2em 0 2em 0;
    border-radius: 10px;
}

.adright {
    align-items: center;
    display: flex;
}

.adleft {
    margin: 0 6em 0 0;
    width: 30em;
}

.adtext {
    margin: 1em 0 0 0;
}

.adheader {
    margin: 0;
}

.adbutton {
    color: white;
    background-color: rgba(95, 112, 222, 10%);
    border: 2px solid #5F70DE;
    border-radius: 20px;
    padding: 20px 40px 20px 40px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    box-shadow: 0 0 2em black;
    color: white;
}

.footerlink {
    color: white;
}